* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.preview-mlightbox {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0, .88);
	transition: .4s;
	visibility: hidden;
	opacity: 0;
	z-index: 1000;
}

.mlightbox-content {
	position: absolute;
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: center;
	top: 50%;
	right: 0;
	bottom: 0;
	left: 50%;
	width: 100%;
	max-width: 800px;
	height: 100%;
	box-shadow: 0 3px 7px rgba(0,0,0,.7);
	transition: opacity .2s ease;
	transform: translate(-50%, -50%);
	z-index: 1001;
}

.mlightbox-open {
	opacity: 1;
	visibility: visible;
}

.mlightbox-close,
.mlightbox-close:hover {
	position: absolute;
	width: 30px;
	height: 30px;
	line-height: 15px;
	font-size: 30px;
	top: 0;
	right: 10px;
	border: none;
	color: #fff;
	background: transparent;
	cursor: pointer;
}

[mlightbox] img {
	width: 150px;
	transition: transform .3s ease;
}

[mlightbox] img:hover {
	border: 2px solid rgba(255,255,255, .88);
	transform: scale(1.3);
}
